.postBlock {
    background-color: #C5A5A5;
    border-radius: 20px;
}

.updateStatusBlock {
    background-color: #BECCD6;
    border-radius: 20px;
}

.newPostBlock {
    background-color: #A49393;
    border-radius: 20px;
}

.followerBlock {
    background-color: #FFE2CB;
    border-radius: 20px;
}